@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #505050;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    letter-spacing: 0.3em;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
}

input,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    border: 0;
    border-radius: 3px;
    padding: 5px 15px;
    background: none;
}

button {
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.25s ease;
}

button:hover {
    cursor: pointer;
    background-color: #fff;
}

/* PWA Install */
.pwa-install {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7);
    background-color: #393939;
    transform: translateY(-100%);
    transition: transform 0.25s ease-out 0.2s;
}

.pwa-install.visible {
    transform: translateY(0);
}

.pwa-install.dismissed {
    transform: translateY(-100%);
}

.pwa-install-button {
    display: inline-block;
    padding: 0 3px;
    color: #fff;
}

.pwa-install-button:hover {
    cursor: pointer;
}

.pwa-dismiss-button {
    opacity: 0.7;
    transition: opacity 0.25s ease;
}

.pwa-dismiss-button:hover {
    cursor: pointer;
    opacity: 1;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Title */
.title-wrapper {
    background-color: #505050;
    color: white;
    padding: 35px 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Page Wrapper */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Challenges Container */
.challenges-container {
    box-sizing: border-box;
    padding: 160px 15px 30px 15px;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.challenges-container:empty::before {
    content: "There's nothing here";
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #909090;
    letter-spacing: 3px;
    font-weight: 400;
}

/* Challenge Container */
.challenge-container {
    display: flex;
    flex-direction: column;
}

.challenge-container > section,
.challenge-container-main > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.challenge-container-main {
    display: flex;
    flex-grow: 1;
}

@media screen and (max-width: 700px) {
    .challenge-container-main {
        flex-direction: column;
    }
}

.challenge-container .title {
    width: 100%;
    background-color: #505050;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

.challenge-container .execute-button {
    background-color: #30c020;
    color: #fff;
    font-weight: 400;
    outline: none;
    transition: background-color 0.25s ease;
}

.challenge-container .execute-button:hover {
    background-color: #40d030;
    cursor: pointer;
}

.challenge-container .execute-button.running {
    cursor: default;
    background-color: #109010;
}

/* Main */
main {
    flex-grow: 1;
}

/* Challenge */
.challenge-wrapper {
    margin-bottom: 20px;
    animation: challenge-in 0.4s ease-in-out forwards;
}

@keyframes challenge-in {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.challenge-wrapper a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #393939;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.challenge-wrapper a:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 18px 0px rgba(0, 0, 0, 0.15);
}

.challenge-wrapper p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

footer p {
    font-size: 0.8rem;
    font-weight: 400;
}

/* Challenge Description Section */
.challenge-description-section {
    background-color: #e0e0e0;
}

.challenge-description {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 400;
    outline: none;
}

/* Code Editor */
.code-editor-section {
    background-color: #303030;
}

.code-editor {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-weight: 400;
    outline: none;
    color: #fff;
    font-family: monospace;
    display: flex;
    flex-grow: 1;
    padding: 5px;
    flex-direction: column;
}

.code-editor:focus {
    outline: 1px solid #505050;
}

.code-editor-editor {
    counter-reset: line;
    outline: none;
    box-sizing: border-box;
    flex-grow: 1;
}

.code-editor-editor > span {
    display: flex;
    line-height: 1.5rem;
}

.code-editor-editor > span::before {
    counter-increment: line;
    content: counter(line);
    padding: 0 10px;
    margin-right: 10px;
    display: inline-block;
    border-right: 1px solid #fff9;
}

.code-checker {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0;
    pointer-events: none;
}

/* Code Tests */
.challenge-container > .code-tests-section {
    flex-grow: 0;
    flex-shrink: 0;
}

.code-tests {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #303030;
    color: #fff;
}

.code-tests > li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.code-tests > li::after {
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.25s ease;
}

.code-tests > li.incorrect::after {
    background-color: #e02626;
    width: 100%;
}

.code-tests > li.correct::after {
    background-color: #26e026;
    width: 100%;
}

.code-tests > li > p {
    font-weight: 400;
}
